.logo-text {
  font-family: "Montserrat-Light-Alt1", "sans-sarif";
  font-size: 100px;
  padding: 0.3em;
  z-index: 5;
  color: black;
  margin: auto;
}

.logo-text-background1 {
  height: 100px;
  right: 50%;
  position: absolute;
  width: 33%;
  z-index: 1;
}
.logo-text-background2 {
  height: 100px;
  left: 50%;
  z-index: 1;
  position: absolute;
  width: 33%;
}
.main-container {
  height: 100%;
  background: white;
}

.logo-container {
  padding-top: 5em;
  text-align: center;
  display: flex;
}

.front-page-text {
  margin-top: 5em;
  margin-bottom: 2em;
  margin-left: 6em;
  margin-right: 6em;
  background: white;
  padding: 2em;
  border-radius: 2em;
}
