.logo-text {
  font-family: "Montserrat-Light-Alt1", "sans-sarif";
  font-size: 100px;
  padding: 0.3em;
  z-index: 5;
  margin: auto;
}

.logo-text-background1 {
  height: 100px;
  right: 50%;
  position: absolute;
  width: 33%;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(13, 16, 216, 0.76)
  );
}
.logo-text-background2 {
  height: 100px;
  left: 50%;
  z-index: 1;
  position: absolute;
  width: 33%;
  background: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(13, 16, 216, 0.76)
  );
}
.main-container {
  height: 100%;
  background-image: url(../../../assets/images/bay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-container {
  padding-top: 5em;
  text-align: center;
  display: flex;
}
