<div class="main-container">
    <div class="header-logo">
        <div class="logo-container">
            <h1 class="compete-text"> Compete Your AI Now </h1>
            <h1 class="belowcompete-text">Use Artificial Intelligence to Battle Others</h1>
            <h1 class="compete-before-last-text"> Experience The Fun of <span class="pirateai-text">PIRATE<span class="ai">AI</span></span>
            </h1>
            <h1 class="compete-last-text"> Make Your Mark</h1>
        </div>

        <div class="front-page-text">
            <table>
                <tr class="first-row">
                    <th class="first-left">
                        <div class="image-container">
                            <img class="leftimage" src="../../../assets/images/ai_Generated_boat.jpg">
                        </div>
                    </th>
                    <th class="first-right">
                        <div class="front-page-text-right">
                            <div class="what-is">
                                <h1 class="what-is-header">
                                    What is <span class="pirateai-text">PIRATE<span class ="ai">AI</span></span>?
                                </h1>
                                <div class="line-container">
                                    <hr class="center-diamond">
                                </div>
                            </div>

                            <p class="what-is-text">PIRATEAI is an artificial intelligence programming challenge, where two players build AIs that battle one another in the dangerous seas of Programus.</p>
                            <div class="line-container">
                                <hr class="center-diamond">
                            </div>
                            <div class="get-started-button-container">

                                <button mat-raised-button class="get-started-button">Get Started</button>
                            </div>
                        </div>
                    </th>
                </tr>
                <tr class="sec-row">
                    <th class="sec-left">
                        <div class="front-page-text-left">
                            <div class="what-is">
                                <h1 class="what-is-header">
                                    How to play.
                                </h1>
                                <div class="line-container">
                                    <hr class="center-diamond">
                                </div>
                            </div>

                            <p class="what-is-text">The game consists of two players' AIs. Islands will be scattered throughout a randomly generated map. Each player will start with three Pirate Ships. Ships can dock to islands to gain production towards more ships. Each team's
                                ships will be able to attack the other team's ships. Your AI will be tasked with guiding your ships to victory.</p>
                            <div class="line-container">
                                <hr class="center-diamond">
                            </div>
                            <div class="get-started-button-container">

                                <button mat-raised-button class="get-started-button">Learn More</button>
                            </div>
                        </div>
                    </th>
                    <th class="sec-right">
                        <div class="image-container">
                            <img class="rightimage" src="../../../assets/images/ship_explosion.jpg">
                        </div>
                    </th>
                </tr>
            </table>
        </div>
    </div>
    <div class="get-going-content-container">

    </div>

</div>
