<div class="main-container">
<div class="header-logo">
  <div class ="logo-container">
  <h1 class="compete-text"> Compete Your AI Now </h1>
  <h1 class="belowcompete-text">Use Artificial Intelligence to Battle Others.</h1>
  <h1 class="compete-last-text"> Make Your Mark.</h1>
</div>
<div class="front-page-text">
<div class="first-paragraph">

  <p>PIRATEAI encorporates the desire of programming, gaming, and competition. Battling head-to-head with your own designed artificial intelligence to prove victorious. PIRATEAI is a zero-sum game where one winning player will increase their Elo rating, and the losing player will decrease their Elo rating. An Elo rating is a method for calculating the skill level of players. Your AI will be matched against other AIs with a similar Elo rating.</p>

  <p>

  </p>

  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p></div>
</div>
</div>
</div>
