  
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> <img class=scaled src={{element.picLink}}>      {{element.name}} </td>
  </ng-container>

    <!-- Rank Column -->
  <ng-container matColumnDef="rank">
    <th mat-header-cell *matHeaderCellDef> Rank </th>
    <td mat-cell *matCellDef="let element"> {{element.rank}}</td>
  </ng-container>

    <!-- Last Submission Column -->
  <ng-container matColumnDef="lastSubmission">
      <th mat-header-cell *matHeaderCellDef> Last Submission </th>
      <td mat-cell *matCellDef="let element"> {{element.lastSubmission}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


  
  