
<div class="main-container">

    <div class="table-container">
        <table class="leader-board-table">
            <tr class="header-row">
                <th class="columns">
                    Name
                </th>
                <th class="columns">
                    Rank
                </th>
                <th class="columns">
                    Last Submission
                </th>
            </tr>
            <tr class="content-rows" *ngFor="let element of top_players.slice(0,50);">
              <div *ngIf="returnDate(element.id)">
                <td class="content-name">
                  <a href="profile/{{element.id}}"> <span class="content-name-text">{{element.username}}</span></a>
                </td>
                <td class="content-rank">
                  {{element.score}}
                </td>
                <td class="content-lastsub">
                 {{returnDate(element.id)}}
                </td>
              </div>
            </tr>
        </table>
    </div>
</div>
