// .game-replay .game-replay-controller .game-replay-btn-table {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;
//     width: 100%;
//     flex-wrap: wrap;
// }
// body {
//     font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//     background-color: transparent;
//     color: #ECFFFB;
//     font-size: 1.6rem;
// }
// .game-replay .game-replay-controller .game-replay-btn-table .game-replay-btn-cell {
//     position: relative;
//     width: 100%;
//     width: 500px;
//     padding-top: 10px;
//     padding-bottom: 10px;
//     display: flex;
//     align-items: center;
// }
.main-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

.title-container {
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem;
}

.game-container {
    margin-top: 1.4rem;
    height: 460px;
    width: 100%;
    margin:0 auto;
}

.game-replay {
    height: inherit;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 2rem;
    

}
.buttons{
    width:45%;
    margin: 0 auto;
}

.replay-options-container {
    height: 50px;
    
    margin:0 auto;
    margin-left: auto;
    margin-right: auto;
}

.temp-game {
    width: inherit;
    height: inherit;
}

.slider {
    width: 400px;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
}

button {
    height: 50px;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue
}

a:hover {
    text-decoration: underline;
}

.line-container {
    height: 1rem;
    width: 100%;
    text-align: center;
}

hr {
    overflow: visible;
}

.center-diamond {
    border-top: 2px solid rgb(24, 26, 27);
    border-bottom: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
}

.center-diamond:after {
    content: "";
    width: 6px;
    height: 6px;
    background: blue;
    display: inline-block;
    border: 2px solid rgb(24, 26, 27);
    position: relative;
    top: -12px;
    margin: 0 0 0 -3px;
    transform: rotate( 45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate( 45deg);
}
