<!-- <div class="game-heading">
    <i class="xline-top">

    </i>
    <i class="xline-bottom">

    </i>
    <p class="game-date">Nov 23rd, 22 - 16:56:17</p>
    <div class="game-players">
        <div class="long">
            <span class="player1" style="color:rgb(15, 255, 15)">PLAYER 1</span>
            <span class="defeat">DEFEATS</span>
            <span class="player2" style="color:red">PLAYER 2</span>

        </div>
    </div>
</div>

<div class="game-replay">
    <hr>
    <div class="game-replay-viewer">
        <canvas width="100%" height="100%" style="touch-action: none; zoom: normal; cursor: inherit;"></canvas>
    </div>
    <hr>
    <div class="game-replay-controller">
        <div class="buttons">
            <span class="speed">
                <span>3x</span>
            </span>
            <span class=reverse-btn>
                <mat-icon>skip_previous</mat-icon>
            </span>
            <span class=play-btn>
                <mat-button-toggle-group>
                    <mat-button-toggle (click)="changePause()">
                        <mat-icon *ngIf="play">pause</mat-icon>
                        <mat-icon *ngIf="pause">play_arrow</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </span>


            <span class=forward-btn>
                <mat-icon>skip_next</mat-icon>
            </span>


            <span class=save-btn>
                <mat-icon>save_alt</mat-icon>
            </span>
            <span>0</span>
            <span class="progress-bar">
                <mat-slider></mat-slider>
            </span>
            <span>69</span>
            <mat-icon>share</mat-icon>


        </div>
    </div>


</div> -->

<div class="main-container">
    <div class="title-container">
        <div class="title">
            <!-- the profile links below should be game_data.game_data.winner/loser.userId-->
            <a routerLink="profile/{{game_data.game_data.winner}}">{{game_data.game_data.winner}}</a> DEFEATS <a routerLink="profile/{{game_data.game_data.loser}}">{{game_data.game_data.loser}}</a>
        </div>
    </div>
    <div class="line-container">
        <hr class="center-diamond">
    </div>
    <div class="game-container">
        <div class="game-replay">
            <!-- a <canvas> will go here-->
            <img src="../../../assets/images/temp-game.jpg" class="temp-game">
        </div>
        <div class="replay-options-container">
            <div class="replay-options">
                <div class="buttons">
                    <button mat-button (click)="skip_previous()">
                      <mat-icon>skip_previous</mat-icon>
                    </button>

                    <button mat-button (click)="changePause()">
                            <mat-icon *ngIf="play">pause</mat-icon>
                            <mat-icon *ngIf="pause">play_arrow</mat-icon>
                        </button>

                    <button mat-button (click)="skip_next()">
                      <mat-icon>skip_next</mat-icon>
                    </button>
                    <span>0</span>
                    <span class="progress-bar">
                <mat-slider thumbLabel  (change)="sliderEvent($event)" class="slider" min="0" max="{{game_data.game_data.game_length}}" step="1" value="0"></mat-slider>
            </span>
                    <span>{{game_data.game_data.game_length}}</span>
                </div>

            </div>
        </div>

    </div>
</div>