
<div id= "user info" style= "text-align: left;">
    <img src="profileImage.jpg" alt="UserProfileImage" id = "userimage">
    <p>Name:</p>
    <p>Member Since:</p>
    <p>From:</p>
    <p>Ranks:</p>
    <p>Rating:</p>
    <p>Number of games:</p>

</div>
<div id = "leaderboard" style= "text-align: center;">
    <details> 
    <summary>Leaderboard</summary>
    <p>Recent Games</p>
        <ol>
            <li>W: User Vs Opp</li>
            <li>L: User Vs Opp</li>
            <li>W: User Vs Opp</li>
            <li>W: User Vs Opp</li>
            <li>W: User Vs Opp</li>
        </ol>
    </details>
</div>
<div id = "analysis" style= "text-align: center;">
    <details > 
    <summary>Analysis</summary>
    <p>Stats</p>
        <ol>
            <li>Rating:</li>
            <li>Rating:</li>
            <li>Rating:</li>
            
        </ol>
    </details>
</div>

