.main-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.profile-container {
  width: 25vw;
  height: 100%;
  box-shadow: 5px 10px 100px rgba(0, 0, 0, 0.158);
  padding: 3rem;
}

img {
  height: inherit;
  width: inherit;
}

.game-table-title {
  font-size: 2rem;
  padding-bottom: 2rem;

  text-align: center;
}
.profile-image {
  margin: auto;
  height: 250px;
  width: 250px;
}

.name-space {
  margin-top: 4vh;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.1rem;
}

.code {
  font-size: 1.1rem;
}

.rank-space {
  margin-top: 8vh;
  height: 15vh;
  width: 100%;
  text-align: center;
  font-size: 1.1rem;
}

.game-list-container {
  height: 100%;
  width: 100%;
}

.game-list {
  margin: 5rem;
}

.link-container {
  width: fit-content;
}

table {
  color: white;
  box-shadow: 5px 10px 100px rgba(0, 0, 0, 0.158);
  width: 100%;
  font-size: 1.2rem;
}

.norm {
  color: white;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: blue;
  transition: 300ms;
}

a:hover::after {
  width: 100%;
}

tr {
  background: rgba(255, 255, 255, 0.459);
}

th {
  background: rgba(0, 0, 0, 0.644);
  padding: 0.3rem;
  text-align: left;
  padding-left: 0.6rem;
}

td {
  background: grey;
  padding: 0.4rem;
  padding-left: 0.6rem;
  line-height: 1.5rem;
}

.main-container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
}
.file-input {
  display: none;
}

.title-container {
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.game-container {
  margin-top: 1.4rem;
  height: 460px;
  width: 100%;
  margin: 0 auto;
}

.game-replay {
  height: inherit;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#otherReplays {
  float: right;
  width: 500px;
}

#GameStats {
  text-align: center;
  float: left;
  width: 500px;
}

#Opponent1 {
  float: left;
}

#Opponent2 {
  float: right;
}

#testHover:hover {
  cursor: pointer;
  font-size: 41px;
  transform: scale(1.03, 1.03) translateY(-1.8px);
  transition: 0.2s ease-out;
}
#slightHover:hover {
  cursor: pointer;
  transform: scale(1.01, 1.01) translateY(-1.8px);
  transition: 0.2s ease-out;
}

#probability_bar {
  right: 50%;
  left: 50%;
}

.buttons {
  width: 50%;
  margin: 0 auto;
}

.replay-options-container {
  height: 50px;
  width: 100%;
  padding-top: 18.5rem;
  padding-bottom: 2rem;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.temp-game {
  width: inherit;
  height: inherit;
}

.slider {
  width: 400px;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}

button {
  height: 50px;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.line-container {
  height: 1rem;
  width: 100%;
  text-align: center;
}

hr {
  overflow: visible;
}

.center-diamond {
  border-top: 2px solid rgb(24, 26, 27);
  border-bottom: 0px solid transparent;
  border-right: 0px solid transparent;
  border-left: 0px solid transparent;
}

.center-diamond:after {
  content: "";
  width: 6px;
  height: 6px;
  background: blue;
  display: inline-block;
  border: 2px solid rgb(24, 26, 27);
  position: relative;
  top: -12px;
  margin: 0 0 0 -3px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.file-upload-div {
  width: fit-content;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.upload-btn {
  margin-left: 3rem;
  margin-right: 3rem;
}
