<div class="main-container">
  <div class="profile-container">
    <div class="profile-image">
      <svg [data-jdenticon-value]=profiles_data.username>
        Fallback text for browsers not supporting inline svg
    </svg>

    </div>
    <div class="name-space">
        <p>{{profiles_data.username}}</p>

    </div>
    <div class="rank-space">
        <p>Current Rank: {{profiles_data.score}}</p>
    </div>
    <div class="ratio">
      <p><span style="color:green">{{wins}}</span>:<span style="color:rgb(155, 3, 3)">{{losses}}</span>:<span style="color:grey">{{draws}}</span></p>
    </div>

    <div class="upload-header" *ngIf="isProfileMine() == true">
      <h2>Upload Your Bot</h2>
  </div>

      <form name="upform" (ngSubmit)="f.form.valid && onSubmit()" #f = "ngForm" novalidate *ngIf="isProfileMine() == true">
        <div class="upload-btn-container">
            <button mat-raised-button class="upload-btn" id=slightHover (click)="fileUpload.click()">
                <mat-icon>cloud_upload</mat-icon>
                <input type="file" name= "code" class="file-input" [(ngModel)]="form.code" (change)="onFileSelected($event)" required #code="ngModel" #fileUpload>
            </button>
            <br>
            <div class="submission-text">
            {{fileName || "No file uploaded."}}
          </div>
        </div>
        <!-- input uploadCodeName-->
        <div class="upload-btn-container">
          <mat-form-field >
              <input matInput placeholder="Upload Code Name" [(ngModel)]="uploadCodeName" name="name" [(ngModel)]="form.name" required #name ="ngModel">
          </mat-form-field>
          <div class="upload-btn-container">
              <button mat-raised-button class="upload-btn" id=slightHover  >
                  Upload
                  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
              </button>
          </div>
          <div class="error_text">

            <p *ngIf="errorMessage[0] != 'S'" style="color:red; padding-top:1rem">{{errorMessage}}</p>
            <p *ngIf="errorMessage[0] == 'S'" style="color:green; padding-top:1rem">{{errorMessage}}</p>
          </div>
        </div>
      </form>

    </div>

    <div class="game-list-container">

      <div class="game-list">
        <div class="game-table-title">Previous Games</div>
            <table>
                <tr>
                    <th>
                        Result
                    </th>
                    <th>
                        Level
                    </th>

                    <th>
                        Date of Game
                    </th>
                </tr>
                <tr *ngFor="let game of profiles_games.slice(0,20)">
                  <div *ngIf="game.outcome!='pending'">
                    <td>
                        <div class="link-container">
                          <p *ngIf="game.outcome === 'win'" style="color:green">
                            Win
                          </p>
                          <p *ngIf="game.outcome === 'draw'">
                            Draw
                          </p>
                          <p *ngIf="game.outcome === 'lose'" style="color:rgb(155, 3, 3)" >
                            Loss
                          </p>
                        </div>
                    </td>
                    <td>
                        <div class="link-container">
                                  {{game.level}}
                        </div>
                    </td>

                    <td>
                        {{game.created_at}}
                    </td>
                  </div>
                </tr>
            </table>
        </div>
    </div>
</div>
