<div class="main-container">
    <div class="scalable-container">
        <mat-card class="forum-container" [@leftCenter]>
            <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                <div class="forum-boxes">
                    <div class="field-container">

                        <div class="lbll">
                            <mat-label for="username" class="lbl">Username</mat-label>
                        </div>
                        <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required #username="ngModel" />
                        <div class="alert " role="alert" *ngIf="username.errors && f.submitted">
                            Username is required!
                        </div>
                    </div>
                </div>
                <div class="forum-boxes">
                    <div class="field-container">

                        <div class='lbll'>
                            <mat-label for="password" class="lbl">Password</mat-label>
                        </div>
                        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                        <div class="alert" role="alert" *ngIf="password.errors && f.submitted">
                            <div *ngIf="password.errors['required']">Password is required!</div>
                            <div *ngIf="password.errors['minlength']">
                                Must be at least 6 characters
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-button class="login-btn"> Login </button>
                </div>
                <div class="form-group">
                    <div class="error_message" role="alert" *ngIf="f.submitted && isLoginFailed">
                        {{ toTitleCase(errorMessage) }}
                    </div>
                </div>
            </form>


        </mat-card>
        <p class="need-account" [@register]>Need an account? <span class="reg-text"><a routerLink="/register">Register Here</a></span></p>

    </div>
</div>
