.main-container {
    max-width: 100%;
    height: 65%;
    padding-top: 0.5rem;
}

.scalable-container {
    transform: scale(0.7, 0.7);
}

.error_message {
    color: red;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

a:visited {
    color: blue;
}

.forum-container {
    box-shadow: 5px 10px 100px rgba(0, 0, 0, 0.158);
    width: 500px;
    margin: auto;
    opacity: 1;
    padding: 1rem;
}

.form-control {
    font-size: 1.3rem;
    padding: 0.3rem;
    grid-column: 1;
    grid-row: 1;
}

.field-container {
    height: 100%;
    font-size: 1.4rem;
    margin: auto;
    grid-column: 1;
    grid-row: 1;
}

.alert {
    color: red;
    font-size: 15 px;
    padding-top: 0.5rem;
}

.form-group {
    display: grid;
    width: 100%;
    padding: 0.7rem;
}

.forum-boxes {
    height: 90%;
    padding: 1rem;
    padding-top: 2rem;
}

.login-btn {
    font-size: 0.9rem;
    margin: auto;
    display: flex;
    text-align: center;
    background: blue;
    color: white;
    transform: scale(1.5, 1.5);
    margin-bottom: 2.6rem;
    margin-top: 4.6rem;
}

input {
    border-width: 1.5px;
}

.forgot-password {
    margin: auto;
    text-align: center;
    padding-bottom: 1.4rem;
    margin-top: 0.4rem;
    font-size: 1.3rem;
}

a:link {
    text-decoration: none;
}

.need-account {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    height: 3rem;
}

.reg-text {
    color: blue;
    overflow: hidden;
}