<div class="main-container">
    <div class="scalable-container">
        <mat-card class="forum-container" [@leftCenter]>

            <div class="forum-boxes ">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                    <div class="form-group">
                        <div class="field-container  fc-firstname ">

                            <div class="lbll">
                                <mat-label class="lbl" for="firstname">First Name</mat-label><br/>
                            </div>
                            <input type="text" class="firstname form-control" name="firstname" [(ngModel)]="form.first_name" required minlength="3" maxlength="20" #firstname="ngModel" />
                            <div class="alert" *ngIf="firstname.errors && f.submitted">
                                <div *ngIf="firstname.errors['required']">First name is required</div>
                                <div *ngIf="firstname.errors['minlength']">
                                    First name must be at least 3 characters
                                </div>
                                <div *ngIf="firstname.errors['maxlength']">
                                    First name must be at most 20 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field-container">


                            <div class="lbll">
                                <mat-label class="lbl" for="last_name">Last Name</mat-label><br/>
                            </div>
                            <input type="text" class="last_name form-control" name="lastname" [(ngModel)]="form.last_name" required minlength="3" maxlength="20" #last_name="ngModel" />
                            <div class="alert" *ngIf="last_name.errors && f.submitted">
                                <div *ngIf="last_name.errors['required']">Last name is required</div>
                                <div *ngIf="last_name.errors['minlength']">
                                    Last name must be at least 3 characters
                                </div>
                                <div *ngIf="last_name.errors['maxlength']">
                                    Last name must be at most 20 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field-container">
                            <div class="lbll">
                                <mat-label class="lbl" for="username">Username</mat-label><br/>
                            </div>
                            <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel" />
                            <div class="alert" *ngIf="username.errors && f.submitted">
                                <div *ngIf="username.errors['required']">Username is required</div>
                                <div *ngIf="username.errors['minlength']">
                                    Username must be at least 3 characters
                                </div>
                                <div *ngIf="username.errors['maxlength']">
                                    Username must be at most 20 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field-container">
                            <div class="lbll">
                                <mat-label class="lbl" for="email">Email</mat-label><br/>
                            </div>
                            <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel" />
                            <div class="alert" *ngIf="email.errors && f.submitted">
                                <div *ngIf="email.errors['required']">Email is required</div>
                                <div *ngIf="email.errors['email']">
                                    Email must be a valid email address
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field-container">
                            <div class="lbll">
                                <mat-label class="lbl" for="password">Password</mat-label><br/>
                            </div>
                            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
                            <div class="alert" *ngIf="password.errors && f.submitted">
                                <div *ngIf="password.errors['required']">Password is required</div>
                                <div *ngIf="password.errors['minlength']">
                                    Password must be at least 6 characters
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field-container">
                            <div class="lbll">
                                <mat-label class="lbl" for="confirmpassword">Confirm Password</mat-label><br/>
                            </div>
                            <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="form.confirmpassword" required minlength="6" #confirmpassword="ngModel" />
                            <div class="alert" *ngIf="confirmpassword.errors && f.submitted">
                                <div *ngIf="confirmpassword.errors['required']">Password confirmation is required</div>
                                <div *ngIf="confirmpassword != password">
                                    Passwords must match
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button mat-button class="login-btn"> Register </button>
                    </div>

                    <div class="error_message" *ngIf="f.submitted && isSignUpFailed">
                        Signup failed!<br />{{ errorMessage }}
                    </div>
                </form>

                <div class="alert " *ngIf="isSuccessful" style="color:green">
                    Your registration is successful!
                </div>
            </div>
        </mat-card>
    </div>
</div>
