<div class="main-container">
    <div class="scalable-container">
        <mat-card class="forum-container" [@leftCenter]>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="forum-boxes ">

                    <mat-form-field class="field-container fc-username ">
                        <mat-label for="username">Username</mat-label>
                        <input class="username" formControlName="username" matInput />
                    </mat-form-field>
                    <mat-form-field class="field-container fc-password ">
                        <mat-label for="password">Password</mat-label>
                        <input type="password" formControlName="password" class="password " matInput />
                    </mat-form-field>

                    <button mat-button class="login-btn"> Login </button>

                </div>
            </form>

            <p class="forgot-password "><a routerLink="/forgot-password ">Forgot Password?</a></p>
            <div class="html_response">
                <p class="response">{{html_response}}</p>
            </div>
        </mat-card>
        <p class="need-account" [@register]>Need an account? <span class="reg-text"><a routerLink="/register">Register Here</a></span></p>
    </div>

</div>