.nav-item {
    list-style: none;
    display: flex;
    padding-right: 1.5em;
    padding-bottom: 3px;
}

html {
    overflow-y: scroll;
}

.ai {
    color: blue;
}

.logo {
    transition: 0.3s ease-in;
    font-size: 40px;
    font-family: "Montserrat-Light-Alt1", "arial";
}

.nav-items {
    float: right;
    display: flex;
}

.toolbar-seperator {
    height: 3.8em;
    background: rgb(24, 26, 27);
}

.toolbar-seperator-text {
    color: white;
    font-size: 1.5em;
    font-weight: 1;
    text-align: center;
    padding-top: 0.8em;
}

a {
    color: white;
    font-style: none;
    text-decoration: none;
}

a:visited {
    color: rgb(0, 0, 255);
}

a:link {
    color: rgb(0, 0, 255);
}

.toolbar {
    padding: 3em;
    background: white;
}

.nav-items-wrapper {
    width: 100%;
}

.logo:hover {
    cursor: pointer;
    font-size: 41px;
    transform: scale(1.03, 1.03) translateY(-1.8px);
    transition: 0.2s ease-out;
}

.nav-item:hover {
    cursor: pointer;
    color: blue;
}

.nav-item-font {
    padding-top: 1em;
    border-bottom: 3px solid transparent;
}

.nav-item-font:hover {
    border-bottom: 3px solid blue;
    transition: 0.3s ease-in;
}

.footer-container {
    background: rgb(24, 26, 27);
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer {
    padding-bottom: 0.5rem;
    display: flex;
}

.footer-div {
    width: 100%;
}

.ul {
    padding-left: 33.3%;
    color: #7F7F7F;
    list-style: none;
    font-size: 1.1rem;
    line-height: 2.5rem;
}

.ul a {
    color: #7F7F7F;
}

.ul a:hover {
    transition: 0.4s;
    color: blue;
}

.footer-head {
    line-height: 4rem;
    color: white;
}
