<mat-toolbar class="toolbar">

    <span class="logo" routerLink="home"><b>PIRATE<span class="ai">AI</span></b>
    </span>
    <div class="nav-items-wrapper">
        <ul class="nav-items">
            <li class="nav-item" *ngIf="loggedIn" routerLink="profile">
                <p class="nav-item-font">PROFILE</p>
            </li>
            <li class="nav-item" *ngIf="!loggedIn" routerLink="login">
                <p class="nav-item-font">LOGIN</p>
            </li>
            <li class="nav-item" *ngIf="!loggedIn" routerLink="game">
                <p class="nav-item-font">GAME</p>
            </li>
            <li class="nav-item" routerLink="leaderboard">
                <p class="nav-item-font">LEADER BOARD</p>
            </li>
        </ul>
    </div>
</mat-toolbar>

<div class="toolbar-seperator">
    <p class="toolbar-seperator-text">
        <span *ngIf="currentRoute == '/home'">
        Ready to test your AI's skills? <span *ngIf="loggedIn"> <a routerLink="/profile">Upload Here</a></span> <span *ngIf="!loggedIn"><a routerLink="/register">Register Here</a></span>
        </span>
        <span *ngIf="currentRoute =='/leaderboard'">
        Can't find yourself? <span *ngIf="loggedIn"> <a routerLink="/profile">Upload Here</a></span> <span *ngIf="!loggedIn"><a routerLink="/register">Register Here</a></span>
        </span>


    </p>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<div *ngIf="currentRoute == '/home'" class="footer-container">
    <div class="footer">

        <div class="footer-div">
            <ul class="ul">
                <span class="footer-head">
            PIRATEAI
          </span>
                <li><a routerLink="about">What is PIRATEAI?</a></li>
                <li><a routerLink="tutorial">How To Play</a></li>
                <li><a routerLink="profile">Upload Your AI</a></li>
            </ul>
        </div>
        <div class="footer-div">
            <ul class="ul">
                <span class="footer-head">
            Developers
          </span>
                <li><a href="https://github.com/Luke-F-Harris">Luke Harris</a></li>
                <li><a href="https://github.com/abdin20">Naymul Mohommad</a></li>
                <li><a href="https://github.com/over4">Riley Overland</a></li>
                <li><a href="https://github.com/ZachRaposo">Zach Raposo</a></li>
                <li><a href="https://github.com/andrewharrop">Andrew Harrop</a></li>

            </ul>
        </div>
        <div class="footer-div">
            <ul class="ul">
                <span class="footer-head">
            Community
          </span>
                <li><a routerLink="leaderboard">Leaderboards</a></li>

            </ul>
        </div>
    </div>
</div>
