.nav-item {
  list-style: none;
  display: flex;
  padding-right: 1.5em;
  padding-bottom: 3px;
}
.logo {
  transition: 0.3s ease-in;
  font-size: 40px;
  font-family: "Montserrat-Light-Alt1", "arial";
}

.nav-items {
  float: right;
  display: flex;
}
.toolbar-seperator {
  height: 3.5em;
  background: black;
}
.toolbar-seperator-text {
  color: white;
  font-size: 1.5em;
  font-weight: 1;
  text-align: center;
  padding-top: 0.7em;
}

a {
  color: white;
  font-style: none;
  text-decoration: none;
}
a:visited {
  color: white;
}

a:link {
  color: rgb(255, 117, 117);
}
.toolbar {
  padding: 3em;
  background: white;
}

.nav-items-wrapper {
  width: 100%;
}

.logo:hover {
  cursor: pointer;
  font-size: 41px;
  transform: translateX(-2px);
  transition: 0.3s ease-in;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item-font {
  padding-top: 1em;
  border-bottom: 3px solid transparent;
}
.nav-item-font:hover {
  border-bottom: 3px solid black;
  transition: 0.3s ease-in;
}
