<mat-toolbar class="toolbar">

    <span class="logo" routerLink="home"><b>PIRATE<span class="ai">AI</span></b>
    </span>
    <div class="nav-items-wrapper">
        <ul class="nav-items">
            <li class="nav-item" *ngIf="loggedIn" routerLink="profile">
                <p class="nav-item-font">PROFILE</p>
            </li>
            <li class="nav-item" *ngIf="!loggedIn" routerLink="login">
                <p class="nav-item-font">LOGIN</p>
            </li>

            <li class="nav-item" *ngIf="!loggedIn" routerLink="game">
                <p class="nav-item-font">GAME</p>
            </li>
            <li class="nav-item" routerLink="leaderboard">
                <p class="nav-item-font">LEADER BOARD</p>
            </li>
            <li class="nav-item" *ngIf="loggedIn" (click)="logout()">
                <p class="nav-item-font">LOGOUT</p>
            </li>
        </ul>
    </div>
</mat-toolbar>

<div class="toolbar-seperator">
    <p class="toolbar-seperator-text">
        <span *ngIf="currentRoute == '/home'">
        Ready to test your AI's skills? <span *ngIf="loggedIn"> <a routerLink="/profile">Upload Here</a></span> <span *ngIf="!loggedIn"><a routerLink="/register">Register Here</a></span>
        </span>
        <span *ngIf="currentRoute =='/leaderboard'">
        Can't find yourself? <span *ngIf="loggedIn"> <a routerLink="/profile">Upload Here</a></span> <span *ngIf="!loggedIn"><a routerLink="/register">Register Here</a></span>
        </span>


    </p>
</div>

<div>
    <router-outlet></router-outlet>
</div>

<app-app-footer *ngIf="currentRoute == '/home'"></app-app-footer>